@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --base-background-color : #020502;
    --mute-background-color : #03130E;

    --primary-color : #22D354;
    --secondary-color : #03130E;
    --accent-color : #199A79;

    --base-text-color : #FFFFFF;
    --mute-text-color : #78C5AD;

    --base-font-family : 'montserrat', sans-serif;
    --mute-font-family : 'Poppins', sans-serif;

    --tag-background : #020502;
    --tag-border-color : #116751;
  } 
} 

body{
  background-color: var(--base-background-color);
  color: var(--base-text-color);
}